<nav class="navbar">
  <h2>Campus Voice</h2>

  <ul>
    <li><a href="/dashboard">Dashboard</a></li>
    <li><a href="/complaints">All Complaints</a></li>
    <li><a href="/my-complaints">My Complaints</a></li>
    <li><a href="/feedback">Feedback</a></li>
  </ul>

  <div>
    <span><%= user.name %></span>
    <a href="/logout">Logout</a>
  </div>
</nav>